body{
  margin:0 ;
  padding: 0;
  background: linear-gradient(297deg,#e8effc 8.25%,#fff 91.76%);

}

*{
  box-sizing: border-box;
 
}

@font-face {
  font-family: "roboto";
  src: url("font/Roboto-Light.ttf");
}

.content{
  width: 1170px;
  height: 780px;
  padding-top:161.75px;
  margin: 0 auto;

}

.conteiner{
  width: 940.42px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;

}

.div{
  position: relative;
  width: 296.548px;
  height: 354.21px;
  border-radius: 4.9242px;
  background: #fff;
  box-shadow: 0.82375px 1.64749px 2.47124px  rgba(0, 0, 0, 0.10);
  
  
}
.line1{
  width: 296.548px;
  height: 0.824px;
  background: rgba(225, 232, 238,0.5);
  position: absolute;
  top: 188px;

}
.line2{
  width: 296.548px;
  height: 0.824px;
  background: rgba(225, 232, 238,0.5);
  position: absolute;
  top: 188px;

}


h1{
  color: #43484D;
  text-align: center;
  font-family: "roboto";
  font-size: 45.073px;
  font-style: normal;
  font-weight: 300;
  margin-bottom: 49.41px;
}

h2{
  color: #43484D;
  font-family: "roboto";
  font-size: 26.36px;
  font-style: normal;
  font-weight: 300;
  margin-top: 50.25px;
  
  
}

.h21{
  margin-bottom: 12.36px;
}

.h22{
  margin-bottom:11.04px; 
}

.p1{
  color: #86939E;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 13.18px;
  margin: 0 auto;
  
  
}

.free{
  color: #7DC855;
  font-family: "Roboto";
  font-size: 42.835px;
  font-style: normal;
  font-weight: 300;
  position: absolute;
  top: 210.88px;
  left: 35.83px;
  margin: 0;
  
 
  
}

.side{
  text-align: start;
  color: #86939E;
  font-family: "Roboto";
  font-size: 11.532px;
  font-style: normal;
  font-weight: 400;
  position: absolute;
  top:209.23px;
  right: 24.71px;
  margin: 0;
  
   
}

button{
  width: 247.123px;
  height: 49.425px;
  background: #7DC855;
  border-radius: 4.942px;
  border: none;
  text-align: center;
  color: #FFF;
  font-family: "roboto";
  font-size: 13.18px;
  font-style: normal;
  font-weight: 500;
  /* margin-top: 124.38px;
  margin-bottom: 24.71px;
  */
  position: absolute;
  bottom: 24.71px;
  left: 24.71px;
}

.amount{
  color: #50555B;
  display: inline-block;
  text-align: center;
  font-family: "Roboto";
  font-size:42.835px;
  font-style: normal;
  font-weight: 300;
  position: absolute;
  top: 210.88px;
  left: 45.31px;
  margin: 0;

}

.amount1{
  color: #50555B;
  display: inline-block;
  text-align: center;
  font-family: "Roboto";
  font-size:42.835px;
  font-style: normal;
  font-weight: 300;
  position: absolute;
  bottom: 95.55px;
  left: 47.78px;
  margin: 0;

}

#mony{
  font-size: 22.241px;
  position: absolute;
  bottom: 115.33px; 
  left: 33.77px;
  margin: 0;
}

#mony2{
  font-size: 22.241px;
  position: absolute;
  bottom: 114.5px; 
  left: 32.95px;
  margin: 0;
}

#box2{
  background-image: url("icon/Icon.svg");
  background-repeat: no-repeat;
  background-position: 256px top;
  border: 1.647px solid rgba(53, 142, 215, 0.21);
  
}





